body{
    margin: 0;
    padding: 0;
}
.header {
    background-color: #949393;
    padding: 20px;
    text-align: center;
  }

.nav-bar{
    width: 100%;
    background: #f57f17;
    height: 75px;
    padding: 7px 0;
    box-sizing: border-box;
    border-bottom: 3px solid #009444;;
    font-size: 20px;
}
.nav-bar ul{
    margin: 0;
    list-style: none;
    font-weight: bold;
}
.nav-bar ul li{
    margin-left: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
    color: white;
    margin-top: 18px;
}
.box{
    background-color: #949393;
    padding: 20px;
    text-align: center;
}
.text{
    margin-left: 400px;
    color: #f57f17;
}
li a:hover{
    background-color: teal;
}
@font-face {
    font-family: KhmerOSMuolLight;
    src: url('./fonts/KhmerOS.ttf');
  }
  @font-face {
    font-family: KhmerOSContent;
    src: url('./fonts/KhmerOS.ttf');
  }
  .alignleft{
      display: inline;
      float: left;
      margin-right: 1.5em;
  }
  img{
      vertical-align: middle;
      height: auto;
      max-width: 100%;
  }
  .box-header{
    background-color:  #f47324;
    font-family: KhmerOSMuolLight;
    border-radius: 10px 10px 0px 0px;
  }
  .footer{
    background-color: #009444;
  }
  .search-form{
      margin-left: 290px;
      padding-top: 15px;
      
  }



